
body{
    margin: 0;
    font-family:Arial;
}

/* for id # and for class.*/
/* no need to nested inside but easier to read*/

a{
    color: blue;
}

ul{
    list-style-type: none;
    text-decoration: none;
}

.skills{
    background: rgb(162, 184, 223);
    display: grid;
    margin-top: -5em; 
    padding-bottom:10em;
    h1{
        font-weight: bold;
        font-size: 2.5em;
    }
    .container{
        display: flex;
        margin-left: 20em;
        font-weight: bold;
        font-size: 0.8em;
        place-content: space-between;
        .matlab img{
            width: 15em;
            height: 15em;
            border: 2px solid #3f69df;
            border-radius: 50%;
            margin-left: -2em;
        }
        .python img{
            width: 15em;
            height: 15em;
            border: 2px solid #3f69df;
            border-radius: 50%;
            margin-left: -2em;
        }
        .statistics img{
            width: 15em;
            height: 15em;
            border: 2px solid #3f69df;
            border-radius: 50%;
            margin-left: -2em;
        }
    }
}
